{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-default" >
    <div class="panel-heading">Personal informations</div>
    <div class="panel-body">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <div class="w3-padding row">

                <div  class="col-lg-3 col-md-3 col-xs-6">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div  class="col-lg-3 col-md-3 col-xs-6">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
        </div>

        <div class="w3-padding row">
            <div  class="col-lg-4 col-md-4 col-xs-6">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6">
                {{ form_label(form.state) }}
                {{ form_widget(form.state) }}
            </div>
            <div  class="col-lg-4 col-md-4 col-xs-6">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
            </div>
        </div>

        <div class="w3-padding row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div  class="col-lg-3 col-md-3 col-xs-6">
                    {{ form_label(form.birthdate) }}
                </div>
                <div class="col-lg-9 col-md-9 col-xs-6">
                {{ form_widget(form.birthdate) }}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div  class="col-lg-3 col-md-3 col-xs-6">
                    {{ form_label(form.current_password) }}
                </div>
                <div class="col-lg-9 col-md-9 col-xs-6">
                    {{ form_widget(form.current_password) }}
                </div>
            </div>
        </div>
        <div class="w3-padding row center-block">
            <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
        {{ form_widget(form.latitude) }}
        {{ form_widget(form.longitude) }}

        {{ form_end(form) }}
    </div>
</div>

