{% trans_default_domain 'FOSUserBundle' %}

<div class="panel" >
    <h2 class="panel-heading trav-secondary-bg-color w3-text-white">{{ 'trav.personal.info'|trans|upper }}</h2>
    <div class="panel-body">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <div class="w3-padding row">
            <div class="col-lg-2 col-md-2 col-xs-3">
                {{ 'profile.your.gender'|trans }}*
                {{ form_widget(form.genre) }}
            </div>
            <div  class="col-lg-5 col-md-3 col-xs-6">
                {{ 'form.firstname'|trans }}*
                {{ form_widget(form.firstname) }}
            </div>
            <div class="col-lg-5 col-md-3 col-xs-6">
                {{ 'form.name'|trans }}*
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="row">
            <div  class="col-lg-4 col-md-4 col-xs-6">
                {{ 'form.username'|trans }}*
                {{ form_widget(form.username) }}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6">
                {{'form.email'|trans }}*
                {{ form_widget(form.email) }}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6">
                {{ 'profile.your.languages'|trans }}
                {{ form_widget(form.languages) }}
            </div>
        </div>
        <div class="w3-padding row">
            <div  class="col-lg-4 col-md-4 col-xs-6">
                {{ 'profile.your.location'|trans }}
                {{ form_widget(form.address) }}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                {{ 'profile.your.birthdate'|trans }}
                {{ form_widget(form.birthdate) }}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                {{ 'form.current_password'|trans }}
                {{ form_widget(form.current_password) }}
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 w3-padding-32 row center-block">
                <input class="btn btn-primary btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        </div>


       <div class="hidden">
           {{ form_rest(form) }}
       </div>
        {{ form_end(form) }}
    </div>
</div>

