<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>{% block title %}Travelleurs.co{% endblock %}</title>
    <!-- '@AppBundle/Resources/public/css/std/bootstrap.min.css'
    '@AppBundle/Resources/public/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css'
    '@AppBundle/Resources/public/vendor/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css'
    <!-- Bootstrap core CSS -->

    {% stylesheets
    'css/bootstrap.css'
    'css/font-awesome.css'
    'css/jquery-ui.css'
    '@AppBundle/Resources/public/vendor/css/w3.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}



    {% stylesheets '@AppBundle/Resources/public/application/css/travelleurs-home.css' filter='cssrewrite' output='css/__zyrkovx.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css">
    {% endstylesheets %}




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    {% stylesheets  filter='cssrewrite'
        '@AppBundle/Resources/public/css/ie/ie9.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <![endif]-->

    <!--[if lt IE 8]>
    {% stylesheets  filter='cssrewrite'
        '@AppBundle/Resources/public/css/ie/ie8.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {% javascripts
    '@AppBundle/Resources/public/js/ie/html5shiv.js'
    '@AppBundle/Resources/public/js/ie/respond.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <![endif]-->
</head>
<!-- NAVBAR
================================================== -->
<body class="homepage">
    <div id="page-wrapper">

        {% for type, flashes in app.session.flashBag.all() %}
            {% for flash in flashes %}
                <div class="alert alert-{{ type }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        <!-- Header -->
        <div id="header-wrapper">
            {{ include('AppBundle::_header.html.twig') }}
        </div>


        <!-- Main -->
        <div class="row-fluid">
            {% block content %}

            {% endblock %}
        </div>

        <div class="container-fluid w3-padding-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    {% block secondMenu %}
                    {% endblock %}
                </div>
                <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                    {% block secondContent %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- CTA -->


        <!-- Footer -->
        <div id="row ">
            <footer id="footer" class="row">
                <div class="row w3-padding-medium">
                    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-6 3u 6u(medium) 12u$(small)">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Random Stuff</h3>
                            <ul class="style2">
                                <li><a href="#">Etiam feugiat condimentum</a></li>
                                <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                                <li><a href="#">Sed porttitor cras in erat nec</a></li>
                                <li><a href="#">Felis varius pellentesque potenti</a></li>
                                <li><a href="#">Nullam scelerisque blandit leo</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-6 3u 6u$(medium) 12u$(small)">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Random Stuff</h3>
                            <ul class="style2">
                                <li><a href="#">Etiam feugiat condimentum</a></li>
                                <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                                <li><a href="#">Sed porttitor cras in erat nec</a></li>
                                <li><a href="#">Felis varius pellentesque potenti</a></li>
                                <li><a href="#">Nullam scelerisque blandit leo</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-6 3u 6u(medium) 12u$(small)">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Random Stuff</h3>
                            <ul class="style2">
                                <li><a href="#">Etiam feugiat condimentum</a></li>
                                <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                                <li><a href="#">Sed porttitor cras in erat nec</a></li>
                                <li><a href="#">Felis varius pellentesque potenti</a></li>
                                <li><a href="#">Nullam scelerisque blandit leo</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-6 3u 6u$(medium) 12u$(small)">

                        <!-- Contact -->
                        <section class="widget contact last">
                            <h3>Contact Us</h3>
                            <ul>
                                <li><a href="#" class="btn classBtSB-icon classBtRStw"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" class="btn classBtSB-icon classBtRS1"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" class="btn classBtSB-icon classBtRSitg"><span class="fa fa-instagram"></span></a></li>
                                <li><a href="#" class="btn classBtSB-icon classBtRSptr"><span class="fa fa-pinterest"></span></a></li>
                            </ul>
                            <p>1234 Fictional Road<br />
                                Nashville, TN 00000<br />
                                (800) 555-0000</p>
                        </section>

                    </div>
                </div>
                <div class="row w3-padding-medium">
                    <div class="12u">
                        <div id="copyright">
                            <ul class="menu">
                                <li>&copy; Travelleurs.co. All rights reserved</li><li>Travelleurs 2017</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!--[if lt IE 8]>
{% javascripts
'@AppBundle/Resources/public/js/ie/respond.min.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<![endif]-->
    {% javascripts
    'js/jquery.min.js'
    'js/jquery-ui.min.js'
    'js/bootstrap.js'
    '@AppBundle/Resources/public/assets/application/js/application-js.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- Cmd: php bin/console bazinga:js-translation:dump -->
{% block inline_js %}
    <script>
        initJS();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYZqbrjgb550hqzFuZT0I5v5IFaZ4ouKw&libraries=places&callback=initAutoCompleteMaps"    async defer></script>
{% endblock %}
<!--
'@AppBundle/Resources/public/assets/vendor/js/vendor-js.js'
'@AppBundle/Resources/public/vendor/js/jquery-2.0.0.min.js'
    '@AppBundle/Resources/public/vendor/jquery-ui-1.12.1.custom/jquery-ui.js'
    '@AppBundle/Resources/public/vendor/js/jquery.dropotron.min.js'
    '@AppBundle/Resources/public/js/std/bootstrap.min.js'
    '@AppBundle/Resources/public/vendor/js/underscore-min.js'
    '@AppBundle/Resources/public/vendor/js/backbone-min.js'
    '@AppBundle/Resources/public/vendor/js/skel.min.js'
    '@AppBundle/Resources/public/vendor/js/util.js'
    '@AppBundle/Resources/public/vendor/js/main.js'
    '@AppBundle/Resources/public/application/js/travelleurs-generic.js'

-->
</body>
</html>

