
<div class="text-center w3-center w3-margin-top"><!-- col-lg-10 -->
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{#{{ form_widget(form) }}#}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            {{ form_widget(form.email,{ 'attr': {'placeholder':  'form.email' }}) }}

        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            {{ form_widget(form.username,{ 'attr': {'placeholder':  'trav.form.username'|trans({},'messages') }}) }}
        </div>
    </div>

    <div class="row">
        {% for passwordField in form.plainPassword %}
            <div class="col-sm-6 col-md-6 col-lg-6">
                {% if loop.index == 1 %}
                    {{ form_widget(passwordField,{ 'attr': {'placeholder':  'form.password' }}) }}
                {% else %}
                    {{ form_widget(passwordField,{ 'attr': {'placeholder':  'form.password_confirmation' }}) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="row w3-margin-top w3-center">

            <input class="w3-center " type="submit" value="{{ 'trav.registration.submit'|trans({},'messages') }}" />

    </div>
{{ form_end(form) }}
</div>
