
{% extends "AppBundle:Travelleurs:myprofile.html.twig" %}

{% block secondContent %}

    <div class="w3-bar w3-light-grey row trav-cursor-div">
        <div class="col-lg-3 tab-manager w3-card-2" onclick="openTabAddVoyage('#crud-step-1',this)" id="cursor-tab-1">
            <span class="trav-badge">1</span>&nbsp;
            {{ 'trav.creation'|trans }}&nbsp;
            <i class="fa fa-caret-right fa-2x pull-right"></i>
        </div>
        <div class="col-lg-3 tab-manager w3-card-2" onclick="openTabAddVoyage('#crud-step-2',this)">
            <span class="trav-badge">2</span>&nbsp;
            {{ 'trav.details'|trans }}
            <i class="fa fa-plane fa-2x pull-right"></i>
        </div>
        <div class="col-lg-3 tab-manager w3-card-2" onclick="openTabAddVoyage('#crud-step-3',this)">Tokyo</div>
        <div class="col-lg-3 tab-manager w3-card-2" onclick="openTabAddVoyage('#crud-step-4',this)">Tokyo</div>
    </div>

    <div id="crud-step-1" class="step-tab row show trav-secondary-border w3-padding-left w3-padding-right w3-padding-4">
        {{ form_start(formCreation) }}

        <div id="trav-creation" class="w3-padding-12 w3-padding-left w3-padding-right">
            <div class="row w3-border-4 w3-border-blue">
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav_how_will_you_travel'|trans }}</h6>
                    {{ form_widget(formCreation.ownerIsAlone) }}
                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav.voyage.themes'|trans }}</h6>

                    {{ form_widget(formCreation.themes) }}
                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav.spoken.languages'|trans }}</h6>
                    {{ form_widget(formCreation.spokenLanguages) }}

                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav.numberof.travelers'|trans }}</h6>
                    {{ form_widget(formCreation.numberOfParticipants) }}
                </div>
            </div>
            <div class="row w3-margin-12">
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav.estimated.budget'|trans }}</h6>
                    {{ form_widget(formCreation.budget) }}
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6">
                    <h6>{{ 'trav.currency'|trans }}</h6>
                    {{ form_widget(formCreation.currency) }}
                </div>
                <div class="col-lg-3 col-lg-3 col-xs-6">
                    <h6>{{ 'trav.show.to.perfect.match'|trans }}</h6>
                    {{ form_widget(formCreation.strict_criteria) }}
                </div>
                <div class="col-lg-4 col-md-4 col-xs-6 w3-padding-32">
                    <input class="btn btn-lg btn-block trav-secondary-bg-color w3-text-white" type="submit" value="{{ 'trav.save.action'|trans }}">
                </div>
            </div>
        </div>
        {{ form_end(formCreation) }}

    </div>
    <div id="crud-step-2" class="step-tab row hidden trav-secondary-border w3-padding-left w3-padding-right w3-padding-4" >
        <h2>Step 2</h2>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="crud-step-3" class="step-tab row hidden trav-secondary-border w3-padding-left w3-padding-right w3-padding-4">
        <h2>Step 3</h2>
        <p>Tokyo is the capital of Japan.</p>
    </div>
    <div id="crud-step-4" class="step-tab row hidden trav-secondary-border w3-padding-left w3-padding-right w3-padding-4">
        <h2>Step 4</h2>
        <p>Tokyo is the capital of Japan.</p>
    </div>

{% endblock %}

{% block inline_js %}
    {{ parent() }}
    <script>
        openTabAddVoyage("#crud-step-1", "#cursor-tab-1");
        disableAll("#disabled-form1");
        disableAll("#disabled-form2");
    </script>
{% endblock %}