<div class="well well-sm">
    {{ form_start(formCreation) }}
    <!--div class="row trav-secondary-border">
        <div class="col-lg-4 col-md-4 col-xs-4 border border-primary"><span class="pull-left badge">1</span> </div>
        <div class="col-lg-4 col-md-4 col-xs-4"><span class="pull-left badge badge-success">2</span>{{ 'trav.details'|trans }} <i class="fa fa-list pull-right"></i></div>
        <div class="col-lg-4 col-md-4 col-xs-4"><span class="pull-left badge">3</span>{{ 'trav.publication'|trans }} <i class="fa fa-cloud-upload pull-right"></i></div>
    </div-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4"><span class="w3-badge w3-jumbo trav-secondary-bg-color w3-padding">1</span></div>
        <div class="col-lg-4 col-md-4 col-xs-4 center-block"><p class="text-center">{{ 'trav.creation'|trans }}</p></div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <i class="fa fa-pencil-square fa-3x pull-right"></i>
        </div>
    </div>
    <div id="trav-creation">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                {{ 'trav_how_will_you_travel'|trans }}
                {{ form_widget(formCreation.ownerIsAlone) }}
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                {{ 'trav.travelers.genre'|trans }}
                {{ form_widget(formCreation.genreVoyageurs) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                {{ 'trav.smocker.allowed'|trans }}
                {{ form_widget(formCreation.smockerAllowed) }}
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                {{ 'trav.show.to.perfect.match'|trans }}
                {{ form_widget(formCreation.strict_criteria) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                {{ 'trav.estimated.budget'|trans }}
                {{ form_widget(formCreation.budget) }}
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                {{ 'trav.currency'|trans }}
                {{ form_widget(formCreation.currency) }}
            </div>
        </div>
        <div class="row w3-margin-12 w3-center">
            <input class="w3-center btn btn-lg trav-secondary-bg-color w3-text-white" type="submit" value="{{ 'trav.save.action'|trans }}">
        </div>
    </div>
    {{ form_end(formCreation) }}
</div>
{{ include('AppBundle::default-scripts.js.twig') }}