{% extends 'AppBundle:Voyage:index.html.twig' %}
{% block title %}{{ 'trav.add.travel'|trans }} - {{ parent() }} {% endblock %}
{%  block central_voyage %}

    {{ form_start(formCreation) }}
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#trav-creation">{{ 'trav.creation'|trans }} <i class="fa fa-pencil-square"></i></a></li>
        <li><a href="#">{{ 'trav.details'|trans }} <i class="fa fa-list"></i></a></li>
        <li><a href="#">{{ 'trav.publication'|trans }} <i class="fa fa-cloud-upload"></i></a></li>
    </ul>
    <div id="trav-creation">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                {{ 'trav_how_will_you_travel'|trans }}
                {{ form_widget(formCreation.ownerIsAlone) }}
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                {{ 'trav.travelers.genre'|trans }}
                {{ form_widget(formCreation.genreVoyageurs) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                {{ 'trav.smocker.allowed'|trans }}
                {{ form_widget(formCreation.smockerAllowed) }}
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                {{ 'trav.show.to.perfect.match'|trans }}
                {{ form_widget(formCreation.strict_criteria) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                {{ 'trav.estimated.budget'|trans }}
                {{ form_widget(formCreation.budget) }}
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                {{ 'trav.currency'|trans }}
                {{ form_widget(formCreation.currency) }}
            </div>
        </div>
        <div class="row w3-margin-12 w3-center">
            <input class="w3-center btn btn-lg trav-secondary-bg-color w3-text-white" type="submit" value="{{ 'trav.save.action'|trans }}">
        </div>
    </div>
    {{ form_end(formCreation) }}
{% endblock %}