
{% extends "AppBundle:Travelleurs:myprofile.html.twig" %}

{% block secondContent %}
<div class="row">
            <ul class="steps steps-5">
                <li class="current tab-manager" onclick="openTabAddVoyage('#crud-step-1',this)" id="cursor-tab-1"><a href="#" title=""><em>1/4: {{ 'trav.creation'|trans }}</em><span>Et nequ a quam turpis duisi</span></a></li>
                <li class="uncomplete tab-manager" onclick="openTabAddVoyage('#crud-step-2',this)" ><a href="#" title=""><em>2/4: {{ 'trav.destination'|trans }}</em><span>Et nequ a quam turpis duisi</span></a></li>
                <li class="uncomplete tab-manager" onclick="openTabAddVoyage('#crud-step-3',this)" ><a href="#" title=""><em>3/4: Cotravelleurs</em><span>Et nequ a quam turpis duisi</span></a></li>
                <li class="uncomplete tab-manager"   onclick="openTabAddVoyage('#crud-step-4',this)"><a href="#" title=""><em>4/4: {{ 'trav.publication'|trans }}</em><span>Et nequ a quam turpis duisi</span></a></li>
            </ul>
        </div>

    <div id="crud-step-1" class="step-tab row show trav-secondary-border w3-padding-left w3-padding-right w3-padding-4">
        {{ form_start(formVoyage) }}

        <div id="trav-creation" class="w3-padding-12 w3-padding-left w3-padding-right">
            <div class="row w3-border-4 w3-border-blue">
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav_how_will_you_travel'|trans }}</h6>
                    {{ form_widget(formVoyage.ownerIsAlone) }}
                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav.voyage.themes'|trans }}</h6>

                    {{ form_widget(formVoyage.themes) }}
                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav.spoken.languages'|trans }}</h6>
                    {{ form_widget(formVoyage.spokenLanguages) }}

                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav.numberof.travelers'|trans }}</h6>
                    {{ form_widget(formVoyage.numberOfParticipants) }}
                </div>
            </div>
            <div class="row w3-margin-12">
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <h6>{{ 'trav.estimated.budget'|trans }}</h6>
                    {{ form_widget(formVoyage.budget) }}
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6">
                    <h6>{{ 'trav.currency'|trans }}</h6>
                    {{ form_widget(formVoyage.currency) }}
                </div>
                <div class="col-lg-3 col-lg-3 col-xs-6">
                    <h6>{{ 'trav.show.to.perfect.match'|trans }}</h6>
                    {{ form_widget(formVoyage.strict_criteria) }}
                </div>
                <div class="col-lg-4 col-md-4 col-xs-6 w3-padding-32">
                    <input class="btn btn-lg btn-block trav-secondary-bg-color w3-text-white" type="submit" value="{{ 'trav.save.action'|trans }}">
                </div>
            </div>
        </div>
        {{ form_end(formVoyage) }}
    </div>
    <div id="crud-step-2" class="step-tab row hidden trav-secondary-border w3-padding-left w3-padding-right w3-padding-4" >
         <div class="row">
        {% if ExistingEtapes is defined and ExistingEtapes|length>0 %}

                {% set i=1 %}
            {% for etape in ExistingEtapes %}
                 <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 w3-margin-top w3-margin-left">
                    <div type="button" id="btn_etape_{{ etape.id }}" onclick="openOneTab(this)" class="w3-btn-block w3-white blue-travelleurs-border w3-round row" data-toggle="collapse" data-target="#{{ etape.id }}">
                        <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 pull-left"><span class="badge trav-primary-bg-color">{{ i }}</span></div>

                        <div class="text-uppercase trav-primary-color col-lg-9 col-sm-9 col-md-9 col-xs-9" id="display_etape_{{ etape.id }}">
                            {{ 'trav.from'|trans }}:  {{ etape.lieuDepart.address }} <i class="fa fa-plane"></i> {{ 'trav.to'|trans }}:  {{ etape.lieuArrivee.address }}
                        </div>

                        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 pull-right"><i class="manage_arrow trav-primary-color fa fa-arrow-circle-left"></i></div>
                    </div>
                    <div id="{{ etape.id }}" class="collapse row w3-padding-left w3-padding-right w3-padding-12">
                         <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>{{ 'trav.from'|trans }}:  {{ etape.lieuDepart.address }}<br>
                            <small class="text-success">{{ 'trav.on'|trans }}: {{ etape.dateDepart|date('Y/m/d') }} </small></p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>{{ 'trav.to'|trans }}:  {{ etape.lieuArrivee.address }}<br>
                            <small class="text-success">{{ 'trav.on'|trans }}: {{ etape.dateArrivee|date('Y/m/d') }}, {{ 'trav.leaving.on'|trans }}: {{ etape.dateFinSejour|date('Y/m/d') }}</small></p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                              <a title="Delete" href="{{ path('trav_remove_etape',{'id':etape.id}) }}" class="btn btn-block btn-danger"><i class="fa fa-times-circle"></i></a>
                        </div>
                    </div>
                </div>
                {% set i=i+1 %}
            {% endfor %}
        {% endif %}
    </div>
    {{ form_start(formEtape) }}
    <div class="row w3-margin-12">
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h6>{{ 'trav.departure.city'|trans }}</h6>
            {{ form_widget(formEtape.lieuDepart.address) }}
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
            <h6>{{ 'trav.arrival.city'|trans }}</h6>
            {{ form_widget(formEtape.lieuArrivee.address) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h6>{{ 'trav.departure.date'|trans }}</h6>
            {{ form_widget(formEtape.dateDepart) }}
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8">
            <div class="col-lg-6 col-md-6 col-xs-6">
            <h6>{{ 'trav.arrival.date'|trans }}</h6>
            {{ form_widget(formEtape.dateArrivee) }}
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
            <h6>{{ 'trav.leaving.date'|trans }}</h6>
            {{ form_widget(formEtape.dateFinSejour) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-6 w3-padding-32 pull-right">
        <button class="w3-center btn btn-lg btn-block trav-secondary-bg-color w3-text-white" type="submit">
            <i class="fa fa-plus fa-lg"></i> {{ 'trav.add.action'|trans }}
        </button>

        </div>
    </div>

   <div class="hidden">
       {{ form_rest(formEtape) }}
   </div>
    {{ form_end(formEtape) }}
    </div>

    <div id="crud-step-3" class="step-tab row hidden trav-secondary-border w3-padding-left w3-padding-right w3-padding-4">
        {{ form_start(formVoyage2) }}
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-3">
                <h6>{{ 'trav.travelers.genre'|trans }}</h6>
                {{ form_widget(formVoyage2.genreVoyageurs) }}
            </div>
            <div class="col-lg-2 col-md-2 col-xs-3">
                <h6>{{ 'trav.smocker.allowed'|trans }}</h6>
                {{ form_widget(formVoyage2.smockerAllowed) }}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                <h6>{{ 'trav.travelers.agerange'|trans }}</h6>
                <div id="slider-range" class="row trav-secondary-bg-color"> </div>
                <div class="row w3-margin-top">
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        {{ form_widget(formVoyage2.ageMin,{ 'attr' : {'class': 'trav-secondary-color form-control'} }) }}
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        {{ form_widget(formVoyage2.ageMax,{ 'attr' : {'class': 'trav-secondary-color form-control'} }) }}
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-md-5 col-xs-6">
                <h6>{{ 'trav.annonce.description'|trans }}</h6>
                {{ form_widget(formVoyage2.annonce,{ 'attr' : {'class': 'trav-secondary-color form-control'} }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 w3-padding-32 pull-right">
                <button class="w3-center btn btn-lg btn-block trav-secondary-bg-color w3-text-white" type="submit">
                    <i class="fa fa-share-alt fa-lg"></i> {{ 'trav.publish'|trans }}
                </button>

            </div>
        </div>
        {{ form_end(formVoyage2) }}

    </div>
    <div id="crud-step-4" class="step-tab row hidden trav-secondary-border w3-padding-left w3-padding-right w3-padding-4">
        <h2>Step 4</h2>
        <p>Tokyo is the capital of Japan.</p>
    </div>

{% endblock %}

    {% block inline_js %}
    {{ parent() }}
    <script>
        sliderAgeRange(18, 70,"#app_bundle_voyage_part2type_ageMax","#app_bundle_voyage_part2type_ageMin")
    </script>
    {% endblock %}