
{% extends "AppBundle:Travelleurs:myprofile.html.twig" %}

{% block secondContent %}
 <div class="panel" >
        <h2 class="panel-heading trav-secondary-bg-color w3-text-white">{{ 'trav.add.travel'|trans|upper }}</h2>
        <div class="panel-body">
<div class="well well-sm">
    {{ form_start(formVoyage) }}

    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4"><span class="w3-badge w3-jumbo w3-padding trav-secondary-bg-color">1</span></div>
        <div class="col-lg-4 col-md-4 col-xs-4 center-block"><p class="text-center">{{ 'trav.creation'|trans }}</p></div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <i class="fa fa-pencil-square fa-3x pull-right"></i>
        </div>
    </div>
    <div id="trav-creation">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-6">
                {{ 'trav_how_will_you_travel'|trans }}
                {{ form_widget(formVoyage.ownerIsAlone) }}
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                {{ 'trav.voyage.themes'|trans }}
                {{ form_widget(formVoyage.themes) }}
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6">
                {{ 'trav.spoken.languages'|trans }}
                {{ form_widget(formVoyage.spokenLanguages) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-6">
                {{ 'trav.estimated.budget'|trans }}
                {{ form_widget(formVoyage.budget) }}
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6">
                {{ 'trav.currency'|trans }}
                {{ form_widget(formVoyage.currency) }}
            </div>
            <div class="col-lg-3 col-lg-3 col-xs-6">
                {{ 'trav.show.to.perfect.match'|trans }}
                {{ form_widget(formVoyage.strict_criteria) }}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 w3-padding-32">
                <input class="btn btn-lg btn-block trav-secondary-bg-color w3-text-white" type="submit" value="{{ 'trav.edit.action'|trans }}">
            </div>
        </div>

    </div>
    {{ form_end(formVoyage) }}
</div>

<div class="well well-sm">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4"><span class="w3-badge w3-jumbo w3-padding trav-secondary-bg-color">2</span></div>
        <div class="col-lg-4 col-md-4 col-xs-4 center-block"><p class="text-center">{{ 'trav.details'|trans }}</p></div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <i class="fa fa-list fa-3x pull-right"></i>
        </div>
    </div>
    <div class="row">
        {% if ExistingEtapes is defined and ExistingEtapes|length>0 %}

            <!--table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>
                            {{ 'trav.departure'|trans }}
                        </th>
                        <th>
                            {{ 'trav.arrival'|trans }}
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead-->
                {% set i=1 %}
            {% for etape in ExistingEtapes %}
                 <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 w3-margin-top w3-margin-left">
                    <div type="button" id="btn_etape_{{ etape.id }}" onclick="openOneTab(this)" class="w3-btn-block w3-white blue-travelleurs-border w3-round row" data-toggle="collapse" data-target="#{{ etape.id }}">
                        <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 pull-left"><span class="badge trav-primary-bg-color">{{ i }}</span></div>

                        <div class="text-uppercase trav-primary-color col-lg-9 col-sm-9 col-md-9 col-xs-9" id="display_etape_{{ etape.id }}">
                            {{ 'trav.from'|trans }}:  {{ etape.lieuDepart.address }} <i class="fa fa-plane"></i> {{ 'trav.to'|trans }}:  {{ etape.lieuArrivee.address }}
                        </div>

                        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 pull-right"><i class="manage_arrow trav-primary-color fa fa-arrow-circle-left"></i></div>
                    </div>
                    <div id="{{ etape.id }}" class="collapse row w3-padding-left w3-padding-right w3-padding-12">
                         <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>{{ 'trav.from'|trans }}:  {{ etape.lieuDepart.address }}<br>
                            <small class="text-success">{{ 'trav.on'|trans }}: {{ etape.dateDepart|date('Y/m/d') }}</small></p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>{{ 'trav.to'|trans }}:  {{ etape.lieuArrivee.address }}<br>
                            <small class="text-success">{{ 'trav.on'|trans }}: {{ etape.dateArrivee|date('Y/m/d') }}</small></p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                              <a title="Delete" href="{{ path('trav_remove_etape',{'id':etape.id}) }}" class="btn btn-block btn-danger"><i class="fa fa-times-circle"></i></a>
                        </div>
                    </div>
                </div>
                {% set i=i+1 %}
            {% endfor %}
            </table>
        {% endif %}
    </div>
    {{ form_start(formEtape) }}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6">
            {{ 'trav.departure.city'|trans }}
            {{ form_widget(formEtape.lieuDepart.address) }}
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            {{ 'trav.arrival.city'|trans }}
            {{ form_widget(formEtape.lieuArrivee.address) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6">
            {{ 'trav.departure.date'|trans }}
            {{ form_widget(formEtape.dateDepart) }}
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            {{ 'trav.arrival.date'|trans }}
            {{ form_widget(formEtape.dateArrivee) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-6 w3-padding-32 pull-right">
        <button class="w3-center btn btn-lg btn-block trav-secondary-bg-color w3-text-white" type="submit">
            <i class="fa fa-plus fa-lg"></i> {{ 'trav.add.action'|trans }}
        </button>

        </div>
    </div>

   <div class="hidden">
       {{ form_rest(formEtape) }}
   </div>
    {{ form_end(formEtape) }}
</div>

<div class="well well-sm">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4"><span class="w3-badge w3-jumbo w3-padding trav-secondary-bg-color">3</span></div>
        <div class="col-lg-4 col-md-4 col-xs-4 center-block"><p class="text-center">{{ 'trav.details'|trans }}</p></div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <i class="fa fa-list fa-3x pull-right"></i>
        </div>
    </div>
    {{ form_start(formVoyage2) }}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-3">
            {{ 'trav.travelers.genre'|trans }}
            {{ form_widget(formVoyage2.genreVoyageurs) }}
        </div>
        <div class="col-lg-2 col-md-2 col-xs-3">
            {{ 'trav.smocker.allowed'|trans }}
            {{ form_widget(formVoyage2.smockerAllowed) }}
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6">
            {{ 'trav.travelers.agerange'|trans }}
            <div id="slider-range" class="row trav-secondary-bg-color"> </div>
            <div class="row w3-margin-top">
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    {{ form_widget(formVoyage2.ageMin,{ 'attr' : {'class': 'trav-secondary-color form-control'} }) }}
                </div>

                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    {{ form_widget(formVoyage2.ageMax,{ 'attr' : {'class': 'trav-secondary-color form-control'} }) }}
                </div>
            </div>

        </div>
    <div class="col-lg-5 col-md-5 col-xs-6">
        {{ 'trav.annonce.description'|trans }}
        {{ form_widget(formVoyage2.annonce,{ 'attr' : {'class': 'trav-secondary-color form-control'} }) }}
    </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-6 w3-padding-32 pull-right">
           <button class="w3-center btn btn-lg btn-block trav-secondary-bg-color w3-text-white" type="submit">
            <i class="fa fa-share-alt fa-lg"></i> {{ 'trav.publish'|trans }}
        </button>

        </div>
    </div>
    {{ form_end(formVoyage2) }}

</div>
{% endblock %}

    {% block inline_js %}
    {{ parent() }}
    <script>
        sliderMontant(18, 70)
    </script>
    {% endblock %}