
{% extends "AppBundle:Travelleurs:myprofile.html.twig" %}

{% block secondContent %}
    <div class="panel" >
        <h2 class="panel-heading trav-secondary-bg-color w3-text-white">{{ 'trav.travels.list'|trans|upper }}</h2>
        <div class="panel-body">
        <div class="row text-center center-block">
                   {% if voyages is defined and voyages is not null and voyages|length>0 %}
                        <table class="table table-bordered">
                                <tr>
                                    <th>
                                        {{ 'trav.created.on'|trans }}
                                    </th>
                                    <th>
                                        {{ 'trav_how_will_you_travel'|trans }}
                                    </th>
                                    <th>
                                        {{ 'trav.travelers.genre'|trans }}
                                    </th>
                                    <th>
                                        {{ 'trav.smocker.allowed'|trans }}
                                    </th>
                                    <th>
                                        {{ 'trav.estimated.budget'|trans }}
                                    </th>
                                    <th>
                                        {{ 'trav.publication'|trans }}
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                                {% for v in voyages %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('trav_edit_voyage',{'id': v.id}) }}" target="_self">{{ v.createdOn|date('Y-m-d h:m:s') }}&nbsp;<i class="fa fa-external-link"></i></a>
                                        </td>
                                        <td>
                                            {{ v.ownerIsAlone|trans }}
                                        </td>
                                        <td>
                                            {{ v.genreVoyageurs|trans }}
                                        </td>
                                        <td>
                                            {% if v.smockerAllowed == 1 %}
                                                {{ 'YES'|trans }}
                                            {% else %}
                                                {{ 'NO'|trans }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ v.budget }}&nbsp;{{ v.currency }}
                                        </td>
                                        <td>
                                            {% if v.published == 1 %}
                                                <i class="text-success fa fa-check-circle fa-lg"></i>
                                            {% else %}
                                                <i class="text-danger fa fa-ban fa-lg"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('trav_remove_voyage', {'id':v.id}) }}"><i class="text-danger fa fa-times-circle"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                    {% else %}
                        <p class="alert alert-success center-block">{{ 'You.dont.have.any.scheduled.travel'|trans }}</p>
                    {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}