
{% extends "AppBundle:Travelleurs:myprofile.html.twig" %}

{% block secondContent %}
    <div class="row text-center"> <h3 class="text-default text-center title-page">{{ 'trav.travels.list'|trans|upper }} <small><a class="btn btn-link" href="{{ path('trav_add_voyage') }}"><i class="fa fa-plus"></i> {{ 'trav.add.travel'|trans }}</a></small></h3> </div>


    {% if etapes is defined and etapes is not null and etapes|length>0 %}
        {% for e in etapes %}
            {% set difference = date(e.dateFinSejour).diff(date('now')) %}
            {% set leftDays = difference.days %}

            <div class="w3-card-4 w3-margin-top">

                <header class="w3-container">
                   <div class="row">
                       <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <h4><i class="fa fa-map-marker"></i> {{ e.lieuArrivee.address }}<br><small>{{ 'trav.from'|trans }} {{ e.dateDepart|date('l jS F Y') }} {{ 'trav.to'|trans }} {{ e.dateFinSejour|date('l jS F Y') }}</small></h4>
                       </div>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            {% if leftDays <100 and leftDays >0 %}
                                <h5 class="text-warning pull-right">{{ 'trav.ongoing'|trans }}<br><small class="text-warning"> {{ leftDays }} {{ 'trav.days'|trans }}</small></h5>
                            {% endif %}
                       </div>
                   </div>
                </header>

                <div class="w3-container">
                    <p>Lorem ipsum...</p>
                </div>

                <footer class="w3-container">
                    <h5>{{ e.voyage.annonce }}</h5>
                </footer>

            </div>

        {% endfor %}

    {% else %}
        <p class="alert alert-success center-block">{{ 'You.dont.have.any.scheduled.travel'|trans }}</p>
    {% endif %}
{% endblock %}