{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'trav.home'|trans }} - {{ parent() }}{% endblock %}

{% block banner %} {{ parent() }}{% endblock %}

{% block content %}

    <div id="banner" class="container-fluid">
        <div class="row">
            <div class="row text-center center-block w3-margin-top 7u 12u(medium)">
                <p class=" hero-title">{{ 'trav.Find.your.next.travel.partner'|trans }}</p>
            </div>
            {% include 'AppBundle:Default:searchform.profile.html.twig' %}

        </div>
    </div>
    <div class="row row-fluid">
        <div class="4u 12u(medium)">
            sfjqdbhgfodngkp,spgrogrg qfs fehfoizehgfio
        </div>
    </div>

{% endblock %}

{% block inline_js %}
    {{ parent() }}
{% endblock %}