
{% extends "AppBundle:Travelleurs:myprofile.html.twig" %}

{% block secondContent %}
    <div class="panel" >
    <h4 class="panel-heading trav-secondary-bg-color w3-text-white">{{ 'trav.my.pictures'|trans|upper }}</h4>
    <div class="panel-body">
    <div class="row w3-padding-12 w3-margin-12 w3-border">
       {{ form_start(form) }}
       <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
           {{ form_widget(form.imageFile) }}
       </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            {{ form_widget(form.submit,{'attr': {'class': 'trav-secondary-bg-color btn btn-lg btn-block w3-text-white'}}) }}
        </div>
        <div class="hidden">{{ form_rest(form) }}</div>

        {{ form_end(form) }}
    </div>
    <div class="row w3-padding-12 w3-margin-12 w3-border">
        {% if albums is defined and albums|length>0 %}
            {% for album in albums %}
                {% for img in album.images  %}
                    <div class="gallery" onclick="document.getElementById({{ img.id }}).style.display='block'">
                        <img src="{{ vich_uploader_asset(img,'imageFile') }}" alt="{{ img.image }}" class="w3-border w3-padding onclick-evt"  width="300" height="200">
                    </div>

                    <div id="{{ img.id }}" class="w3-modal">
                        <div class="w3-modal-content">
                            <header class="w3-container trav-secondary-bg-color w3-text-white">
                               <span onclick="document.getElementById({{ img.id }}).style.display='none'"
                                     class="w3-button w3-display-topright"><i class="text-danger fa fa-close fa-lg"></i></span>
                                <h2>{{ 'trav.set.profile.picture'|trans }}</h2>
                            </header>
                            <div class="w3-container">
                                <img src="{{ vich_uploader_asset(img,'imageFile') }}" alt="{{ img.image }}" class="w3-opacity-min" >

                            </div>
                            <footer class="w3-container trav-secondary-bg-color w3-text-white">
                                <a href="{{ path('trav_add_profile_image',{'id':img.id}) }}" class="btn btn-default">{{ 'trav.select.this'|trans }}</a>
                            </footer>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    </div>
</div>

{% endblock %}