{% for type, flashes in app.session.flashBag.all() %}
    {% for flash in flashes %}
        <div class="alert alert-{{ type }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

<div class="well well-sm w3-padding-12 w3-margin-12">
<div class="row w3-margin-bottom text-center">{{ 'trav.my.profile'|trans|upper }}</div>
    <div class="row w3-border-trav w3-margin-bottom">
       {{ form_start(form) }}
       <div class="col-lg-10 col-md-10 col-xs-12">
           {{ form_widget(form.imageFile,{'class':'btn btn-default btn-file'}) }}
       </div>
        <div class="col-lg-2 col-md-2 col-xs-12">
            <button class="btn-danger btn" type="submit" name="app_bundle_image_type[submit]"><i class="fa fa-upload"></i> {{ 'trav.upload.picture'|trans }}</button>
        </div>
        <div class="hidden">{{ form_rest(form) }}</div>

        {{ form_end(form) }}
    </div>
    <div class="row">
        {% if albums is defined and albums|length>0 %}
            {% for album in albums %}

                {% for img in album.images  %}

                    <div class="gallery" onclick="document.getElementById({{ img.id }}).style.display='block'">
                        <img src="{{ vich_uploader_asset(img,'imageFile') }}" alt="{{ img.image }}" class="w3-border w3-padding w3-hover-grayscale"  width="300" height="200">
                    </div>

                    <div id="{{ img.id }}" class="w3-modal w3-animate-opacity">
                        <div class="w3-modal-content" style="max-width:600px">
                            <header class="w3-container trav-secondary-color">
                               <span onclick="document.getElementById({{ img.id }}).style.display='none'"
                                     class="w3-button w3-xlarge w3-hover-red w3-display-topright"><i class="fa fa-window-close fa-lg"></i></span>
                                <h2>Modal Header</h2>
                            </header>
                            <div class="w3-container text-center">
                                <img src="{{ vich_uploader_asset(img,'imageFile') }}" alt="{{ img.image }}" class="rounded mx-auto d-block img-thumbnail" >

                            </div>
                            <footer class="w3-container text-center">
                                <a href="{{ path('trav_add_profile_image',{'id':img.id}) }}" class="btn btn-danger"><i class="fa fa-check fa-lg"></i> Set Profile img</a>
                            </footer>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

</div>
{{ include('AppBundle::default-scripts.js.twig') }}