{% extends 'AppBundle::base.html.twig' %}
{% block title %}{{ 'trav.my.profile'|trans }} - {{ parent() }} {% endblock %}
{%  block content %}

    {% for type, flashes in app.session.flashBag.all() %}
        {% for flash in flashes %}
            <div class="alert alert-{{ type }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="clearfix container-fluid center-block w3-margin-64">
<div class="row center-block">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
     {% include 'AppBundle:Default:searchform.profile.html.twig' %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <i class="fa fa-commenting"></i>
        <i class="fa fa-user-plus"></i>
        <i class="fa fa-flag"></i>
        <i class="fa fa-gear"></i>
    </div>
</div>

    {#{{ path('trav_index_voyage',{'_locale': app.request.locale}) }}#}
</div>
{% endblock %}
{% block secondMenu %}
        <ul class="nav nav-stacked _menu-insite-active well well-lg">
            <li role="presentation" class="active">
               <a href="{{ path('trav_myprofile') }}"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle trav-secondary-color">
                   <h6 class="trav-primary-color">{{ 'trav.my.profile'|trans }} <i class="fa fa-caret-down pull-right"></i></h6>
                </a>
                <ul class="dropdown-menu dropdown-menu-insite">
                    <li>
                        <a href="{{ path('trav_myprofile') }}"  >
                            <i class="fa fa-eye"></i> {{ 'trav.show'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}"  ><i class="fa fa-pencil"></i> {{ 'trav.edit'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle trav-primary-color" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                    <h6 class="trav-primary-color">{{ 'trav.mytravels'|trans }}<i class="fa fa-caret-down pull-right"></i></h6>
                </a>
                <ul class="dropdown-menu dropdown-menu-insite">
                   <li>
                       <a href="{{ path('trav_index_voyage') }}" >
                           <i class="fa fa-plane"></i>&nbsp;
                           {{ 'trav.mytravels'|trans }}
                       </a>
                   </li>
                    <li>
                        <a href="{{ path('trav_add_voyage') }}" >
                            <i class="fa fa-plus-square-o"></i>&nbsp;
                            {{ 'trav.add.travel'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i>&nbsp;
                            {{ 'trav.search.travels'|trans }}
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
  {% endblock %}
{% block secondContent %}
    <div class="panel" >
        <h4 class="panel-heading trav-secondary-bg-color w3-text-white">{{ 'trav.my.profile'|trans|upper }}</h4>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-4">
                    {% if user.photoProfile is not defined or user.photoProfile is null %}
                        {% image '@AppBundle/Resources/public/images/avatar.jpg' %}
                        <img class="w3-border w3-circle" src="{{ asset_url }}" alt="Avatar" style="width:100%;max-width:200px;"  />
                        {% endimage %}
                    <div class="w3-container">
                        <a href="{{path('trav_add_image')}}" target="_self" class="btn btn-default">
                            <i class="fa fa-camera"></i> Add a profile image
                        </a>
                    </div>
                    {% else %}
                        <img src="{{ vich_uploader_asset(user.photoProfile,'imageFile') }}" alt="{{ user.username }}" class="w3-border w3-padding"  style="width:100%;max-width:200px">
                        <div class="w3-container">
                            <a href="{{path('trav_add_image')}}" target="_self" class="btn btn-default">
                                <i class="fa fa-refresh"></i> Change my profile avatar
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-8 col-md-8 col-xs-8">
                    <div class="list-group">
                        <a class="list-group-item">{{ 'trav.address'|trans }}: {{ user.address }} </a>
                        <a class="list-group-item">{{ 'trav.city'|trans }}</a>
                        <a class="list-group-item">{{ 'trav.my.age'|trans }}: {{ user.birthdate|date('Y/m/d') }}</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
   {% endblock %}



{% block inline_js %}
    {{ parent() }}
{% endblock %}