{% extends 'AppBundle::base.html.twig' %}
{% block title %}{{ 'trav.my.profile'|trans }} - {{ parent() }} {% endblock %}
{%  block content %}
<div class="clearfix container-fluid center-block w3-margin-64">
<div class="row center-block">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        {% include 'AppBundle:Default:searchform.profile.html.twig' %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <i class="fa fa-commenting"></i>
        <i class="fa fa-user-plus"></i>
        <i class="fa fa-flag"></i>
        <i class="fa fa-gear"></i>
    </div>
</div>
    {#{{ path('trav_index_voyage',{'_locale': app.request.locale}) }}#}
</div>
<div class="row w3-margin-48">
    <div class="col-lg-3 col-md-3 col-xs-3 w3-card-4">
        <ul class="nav nav-stacked _menu-insite-active">
            <li role="presentation" class="active">
               <a href="{{ path('trav_showmyprofile') }}" target="central-profile-frame" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle trav-secondary-color">
                   <span class="badge"><i class="fa fa-user"></i></span>
                   {{ 'trav.my.profile'|trans }} <span class="fa fa-caret-down pull-right"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-insite">
                    <li>
                        <a href="{{ path('trav_showmyprofile') }}" target="central-profile-frame" >
                            <i class="fa fa-eye"></i> {{ 'trav.show'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}" target="central-profile-frame" ><i class="fa fa-pencil"></i> {{ 'trav.edit'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle trav-primary-color" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                    <span class="badge"><i class="fa fa-plane"></i></span>
                    {{ 'trav.mytravels'|trans }} <span class="fa fa-caret-down pull-right"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-insite">
                   <li>
                       <a href="{{ path('trav_index_voyage') }}" target="central-profile-frame">
                           <i class="fa fa-plane"></i>&nbsp;
                           {{ 'trav.mytravels'|trans }}
                       </a>
                   </li>
                    <li>
                        <a href="{{ path('trav_add_voyage') }}" target="central-profile-frame">
                            <i class="fa fa-plus-square-o"></i>&nbsp;
                            {{ 'trav.add.travel'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i>&nbsp;
                            {{ 'trav.search.travels'|trans }}
                        </a>
                    </li>
                </ul>
            </li>
            <li role="presentation">
                <a href="#" class="trav-primary-color">
                    <span class="badge"><i class="fa fa-gears"></i></span>
                    {{ 'trav.myactivities'|trans }}
                </a>
            </li>
           <li role="presentation">
               <a href="#" class="trav-primary-color">
                   <span class="badge"><i class="fa fa-map"></i></span>
                   {{ 'Trip planner' }}
               </a>
           </li>

        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-9 embed-responsive embed-responsive-16by9 w3-card-4">
        <iframe src="{{ path('trav_showmyprofile') }}" name="central-profile-frame" id="central-profile-frame" class="embed-responsive-item"></iframe>
    </div>

</div>
{% endblock %}

{% block inline_js %}
    {{ parent() }}
{% endblock %}