<div class="well well-sm">
<div class="row w3-margin-bottom text-center">{{ 'trav.my.profile'|trans|upper }}</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4 w3-card-4">
        {% if user.photoProfile is not defined or user.photoProfile is null %}
        <a href="{{path('trav_add_image')}}" target="_self" class="btn btn-primary">
            <i class="fa fa-camera"></i> Add a profile image
        </a>
        {% else %}
        <img src="{{ vich_uploader_asset(user.photoProfile,'imageFile') }}" onclick="onClick(this)" alt="{{ user.username }}" class="rounded mx-auto d-block img-thumbnail" >
        <div class="w3-container w3-center">
            <a href="{{path('trav_add_image')}}" target="_self" class="btn btn">
                <i class="fa fa-camera"></i> Change my profile avatar
            </a>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-8 col-md-8 col-xs-8">
        <div class="list-group">
            <a class="list-group-item">{{ 'trav.my.location'|trans }}: {{ user.address }} </a>
            <a class="list-group-item">{{ 'trav.my.age'|trans }}: {{ user.birthdate|age }}</a>
        </div>
    </div>
</div>
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <img class="w3-modal-content" id="img01" style="width:100%">
</div>
{{ include('AppBundle::default-scripts.js.twig') }}
<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
</script>